# Composer dependencies
/vendor/

# Storage and database files
/storage/*
!/storage/settings.json
!/storage/json/
/storage/json/*
/database/*

# Sandbox files
/app/Controllers/SandboxController.php
/app/Views/sandbox.php

# Other files
.directory